Sentiment Analysis using TextBlob is a python library which offers API acess to different NLP task like sentiment analysis ,spelling correction
TextBlob returns Ploarity(ranges from -1 to 1) and Subjectivity(ranges from 0 to 1)


Here we will use AmazonDataset where we take ReviewText column and try to fing whether the sentence is postive ,Negative or Neutral

In [1]:
# Importing the Packages
import numpy as np
import tensorflow as tf
import pandas as pd
import re
import nltk
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
from nltk.corpus import stopwords

In [2]:
# Loading the dataset using pandas
dataset=pd.read_csv("./amazon.csv")
dataset.head()

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4,No issues.,23-07-2014,138,0,0,0,0,0.0,0.0
1,1,0mie,5,"Purchased this for my device, it worked as adv...",25-10-2013,409,0,0,0,0,0.0,0.0
2,2,1K3,4,it works as expected. I should have sprung for...,23-12-2012,715,0,0,0,0,0.0,0.0
3,3,1m2,5,This think has worked out great.Had a diff. br...,21-11-2013,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5,"Bought it with Retail Packaging, arrived legit...",13-07-2013,513,0,0,0,0,0.0,0.0

In [3]:
dataset.shape

(4915, 12)

In [4]:
dataset.isnull().sum()

Unnamed: 0              0
reviewerName            1
overall                 0
reviewText              1
reviewTime              0
day_diff                0
helpful_yes             0
helpful_no              0
total_vote              0
score_pos_neg_diff      0
score_average_rating    0
wilson_lower_bound      0
dtype: int64

In [74]:
# Storing the reviewText column in dataset
review_dataset=dataset[['reviewText']]
review_dataset

                                             reviewText
0                                            No issues.
1     Purchased this for my device, it worked as adv...
2     it works as expected. I should have sprung for...
3     This think has worked out great.Had a diff. br...
4     Bought it with Retail Packaging, arrived legit...
...                                                 ...
4910  I bought this Sandisk 16GB Class 10 to use wit...
4911  Used this for extending the capabilities of my...
4912  Great card that is very fast and reliable. It ...
4913  Good amount of space for the stuff I want to d...
4914  I've heard bad things about this 64gb Micro SD...

[4915 rows x 1 columns]

# Cleaning the Text

In [75]:
#Creating a function for removing the numbers from reviewText using regular Expression
def text_clean(text):
    text=re.sub('[^A-Za-z]+', ' ',text)
    return text

In [77]:
# Applying the above function to reviewText column
review_dataset['review_text'] =review_dataset['reviewText'].astype(str).apply(text_clean)

C:\Users\SowmyaEppalpalli\AppData\Local\Temp\ipykernel_19840\3368915246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review_dataset['review_text'] =review_dataset['reviewText'].astype(str).apply(text_clean)

In [78]:
# Creating a function for Tokenization and also removing stopwords
def token_stop(text):
    tokenized_words=word_tokenize(text)
    new_list=[]
    for word in tokenized_words:
        if word.lower() not in set(stopwords.words('english')):
            new_list.append(word)
    return new_list

In [79]:
review_dataset['Clear_reviewtext']=review_dataset['review_text'].astype(str).apply(token_stop)

C:\Users\SowmyaEppalpalli\AppData\Local\Temp\ipykernel_19840\151483278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review_dataset['Clear_reviewtext']=review_dataset['review_text'].astype(str).apply(token_stop)

In [80]:
review_dataset['Clear_reviewtext']

0                                                [issues]
1       [Purchased, device, worked, advertised, never,...
2       [works, expected, sprung, higher, capacity, th...
3       [think, worked, great, diff, bran, gb, card, w...
4       [Bought, Retail, Packaging, arrived, legit, or...
                              ...
4910    [bought, Sandisk, GB, Class, use, HTC, Inspire...
4911    [Used, extending, capabilities, Samsung, Galax...
4912    [Great, card, fast, reliable, comes, optional,...
4913    [Good, amount, space, stuff, want, fits, GoPro...
4914    [heard, bad, things, gb, Micro, SD, card, crap...
Name: Clear_reviewtext, Length: 4915, dtype: object

In [81]:
# Creating a function for Lemmatization of reviewText
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()
def lemma_text(text):
    for word in text:
        lemma=word
        lemma_word=lemmatizer.lemmatize(text)
        lemma_word=lemma_word+" "+lemma
    return lemma_word

In [82]:
review_dataset['final_reviewtext']=review_dataset['Clear_reviewtext'].astype(str).apply(lemma_text)
review_dataset['final_reviewtext']

0                                            ['issues'] ]
1       ['Purchased', 'device', 'worked', 'advertised'...
2       ['works', 'expected', 'sprung', 'higher', 'cap...
3       ['think', 'worked', 'great', 'diff', 'bran', '...
4       ['Bought', 'Retail', 'Packaging', 'arrived', '...
                              ...
4910    ['bought', 'Sandisk', 'GB', 'Class', 'use', 'H...
4911    ['Used', 'extending', 'capabilities', 'Samsung...
4912    ['Great', 'card', 'fast', 'reliable', 'comes',...
4913    ['Good', 'amount', 'space', 'stuff', 'want', '...
4914    ['heard', 'bad', 'things', 'gb', 'Micro', 'SD'...
Name: final_reviewtext, Length: 4915, dtype: object

In [83]:
review_dataset[['reviewText','final_reviewtext']]

,reviewText,final_reviewtext
0,No issues.,['issues'] ]
1,"Purchased this for my device, it worked as adv...","['Purchased', 'device', 'worked', 'advertised'..."
2,it works as expected. I should have sprung for...,"['works', 'expected', 'sprung', 'higher', 'cap..."
3,This think has worked out great.Had a diff. br...,"['think', 'worked', 'great', 'diff', 'bran', '..."
4,"Bought it with Retail Packaging, arrived legit...","['Bought', 'Retail', 'Packaging', 'arrived', '..."
...,...,...
4910,I bought this Sandisk 16GB Class 10 to use wit...,"['bought', 'Sandisk', 'GB', 'Class', 'use', 'H..."
4911,Used this for extending the capabilities of my...,"['Used', 'extending', 'capabilities', 'Samsung..."
4912,Great card that is very fast and reliable. It ...,"['Great', 'card', 'fast', 'reliable', 'comes',..."
4913,Good amount of space for the stuff I want to d...,"['Good', 'amount', 'space', 'stuff', 'want', '..."
4914,I've heard bad things about this 64gb Micro SD...,"['heard', 'bad', 'things', 'gb', 'Micro', 'SD'..."

# SentimentAnalysis Using TextBlob

In [84]:
! pip install textblob

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: textblob in c:\users\sowmyaeppalpalli\appdata\roaming\python\python39\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\programdata\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)

In [85]:
#Importing the TextBlob and Creating a function to return Polarity of the reviewText
from textblob import TextBlob

def sentiment_textblob(review):
    return TextBlob(review).sentiment.polarity

In [86]:
# Creating a function to get the score from the Polarity column and return whether a sentence 
# is postive ,negative or neutral 
def Analysis(score):
    score=np.round(score,2)
    if score < 0.5:
        return 'Negative'
    elif score == 0.5:
        return 'Neutral'
    else:
        return 'Positive'

In [87]:
Amazon_Dataset=pd.DataFrame(review_dataset[['reviewText','final_reviewtext']])
Amazon_Dataset['Polarity']=Amazon_Dataset['final_reviewtext'].astype(str).apply(sentiment_textblob)

In [88]:
Amazon_Dataset['Analysis']=Amazon_Dataset['Polarity'].astype(float).apply(Analysis)

In [91]:
# Final Amazon Dataset with reviewText,final_reviewtext ,Polarity and Analysis
Amazon_Dataset

,reviewText,final_reviewtext,Polarity,Analysis
0,No issues.,['issues'] ],0.000000,Negative
1,"Purchased this for my device, it worked as adv...","['Purchased', 'device', 'worked', 'advertised'...",-0.100000,Negative
2,it works as expected. I should have sprung for...,"['works', 'expected', 'sprung', 'higher', 'cap...",0.129167,Negative
3,This think has worked out great.Had a diff. br...,"['think', 'worked', 'great', 'diff', 'bran', '...",0.350000,Negative
4,"Bought it with Retail Packaging, arrived legit...","['Bought', 'Retail', 'Packaging', 'arrived', '...",0.386667,Negative
...,...,...,...,...
4910,I bought this Sandisk 16GB Class 10 to use wit...,"['bought', 'Sandisk', 'GB', 'Class', 'use', 'H...",0.030000,Negative
4911,Used this for extending the capabilities of my...,"['Used', 'extending', 'capabilities', 'Samsung...",0.800000,Positive
4912,Great card that is very fast and reliable. It ...,"['Great', 'card', 'fast', 'reliable', 'comes',...",0.350000,Negative
4913,Good amount of space for the stuff I want to d...,"['Good', 'amount', 'space', 'stuff', 'want', '...",0.700000,Positive
4914,I've heard bad things about this 64gb Micro SD...,"['heard', 'bad', 'things', 'gb', 'Micro', 'SD'...",0.062500,Negative

In [90]:
# Count of no. of Postives Negatives and Neutrals
Amazon_Dataset['Analysis'].value_counts()

Negative    3879
Positive     887
Neutral      149
Name: Analysis, dtype: int64